@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #f2f2f2;
  color: #000000;
}

.container {
  margin: 0 auto;
  width: 1200px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: #ffffff;
}

.button {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  background-color: #82b3d3;
  color: #ffffff;
}

.nav-link {
  display: block;
  padding: 20px 16px;
  color: inherit;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
}

.hero {
  padding-top: 51px;
  padding-bottom: 82px;
  margin-bottom: 69px;
  background-image: url("../images/main/index-background.jpg");
  color: #000000;
  background-color: rgba(131, 179, 211, 0.2);
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.main-title,
.footer-mailing-title,
.results {
  margin-top: 0;
  margin-bottom: 25px;
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: 700;
}

.main-description,
.footer-mailing-description,
.footer-mailing-catalog > .footer-mailing-description {
  margin-top: 0;
  line-height: 26px;
  font-weight: 400;
  font-size: 22px;
  text-align: center;
  color: #333333;
}

.footer-mailing-catalog > .footer-mailing-title {
  color: #000000;
}

li:last-child .advantages-item-title,
li:first-child .advantages-item-title,
li:last-child .advantages-item-description,
li:first-child .advantages-item-description,
.footer-mailing-description,
.footer-mailing-title {
  color: #ffffff;
}

.advantages-list li:nth-child(2),
.advantages-list li:nth-child(4),
.services-list li:nth-child(2n+1) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-list li:nth-child(3) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-title,
.services-item-title,
.hotel-card-title {
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 28px;
  text-align: center;
  margin: 0;
}

.advantages-item-description,
.services-item-description {
  color: #333333;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  margin: 0;
}

.footer-mailing {
  padding: 96px 258px 104px;
  background-image: url("../images/main/subscribe-background.jpg");
  background-repeat: no-repeat;
  background-color: rgba(131, 179, 211, 0.2);
}

.email {
  flex-grow: 2;
  border-radius: 4px 0 0 4px;
  padding: 12px 20px;
  border: none;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.phone-number {
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  text-decoration: none;
  color: #000000;
}

.user-link.button,
.search-hotel-button,
.more-details.button {
  background-color: #756157;
}

.search-hotel-button,
.footer-mailing button.button {
  font-size: 20px;
  line-height: 36px;
}

.button-liked {
  background-color: #7db54f;
}

.footer-mailing-catalog {
  background-color: #ffffff;
}

.pagination-link {
  text-decoration: none;
  color: #ffffff;
  background-color: #82b3d3;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
}

.active-link {
  color: #000000;
  background-color: #f2f2f2;
}

li:nth-child(5) .pagination-link {
  background-color: #ffffff;
  color: #000000;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.type-of-housing,
.hotel-card-pricing {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.rating {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #333333;
}

.hotel-card-title {
  text-transform: none;
  text-align: start;
}

.hotel-card-link {
  text-decoration: none;
}

.results {
  text-align: start;
}

.select-control {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
}

section.catalog-hero {
  background-color: #82b3d3;
  color: #ffffff;
  background-image: url("../images/catalog/catalog-hero.jpg");
  background-repeat: no-repeat;
  width: 1200px;
  margin: 0 auto;
}

.catalog-filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.control {
  font-size: 18px;
  line-height: 23px;
}

.catalog-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
}

.button.button-to-reset {
  background-color: transparent;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
}

.main-container {
  flex-grow: 1;
}

.page-header {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  width: 450px;
  margin: 0;
  padding: 0;
}

.welcome {
  display: block;
  margin: 0 auto;
}

.user-list {
  display: flex;
  list-style: none;
  max-width: 315px;
  margin-left: auto;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 64px;
}

.advantages-item:not(:last-child, :first-child) {
  width: 400px;
  min-height: 385px;
  padding: 103px 85px;
  box-sizing: border-box;
}

.advantages-list li:last-child,
.advantages-list li:first-child {
  width: 1200px;
  min-height: 385px;
  display: flex;
}

.advantages-item-img {
  min-width: 800px;
  height: 100%;
  object-fit: cover;
}

.advantages-item-wrapper {
  width: 230px;
  background-color: #82b3d3;
  padding: 103px 85px;
}

.services-list {
  display: flex;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  list-style: none;
}

.services-item {
  width: 400px;
  min-height: 385px;
  padding: 80px 85px;
  box-sizing: border-box;
}

.footer-social {
  padding: 40px 70px 30px;
  display: flex;
  width: 1060px;
  justify-content: space-between;
  margin: 0 auto;
}

.footer-social-list {
  display: flex;
  list-style: none;
  width: 200px;
  margin: 0;
  padding: 0;
}

.catalog-container {
  width: 1060px;
  margin: 0 auto;
}

.hotel-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.hotel-card {
  padding: 20px;
  width: 300px;
  border-radius: 4px;
  border: 1px solid #e6e6e6;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.nav {
  display: flex;
}

.user-link {
  display: block;
  padding: 22px 12px;
}

.user-link.button {
  display: block;
  padding: 8px 50px;
  margin-top: 14px;
  margin-bottom: 14px;
  border-radius: 4px;
}

.main-title {
  margin-bottom: 25px;
}

.advantages .main-description {
  margin-bottom: 90px;
}



.search-hotel {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding: 96px 304px;
}

.search-hotel .main-title,
.footer-mailing-title {
  margin-bottom: 20px;
}

.search-hotel .main-description,
.footer-mailing-description {
  margin-bottom: 54px;
}

.search-hotel-button.button {
  padding: 8px 50px;
  border-radius: 4px;
}

.footer-social-item-link {
  display: block;
  min-width: 30px;
  padding: 0 10px;
}

.footer-mailing .button {
  padding: 8px 50px;
  border: none;
  border-radius: 0 4px 4px 0;
}

.footer-mailing form {
  display: flex;
}

.services .main-title {
  margin-bottom: 20px;
}

.services .main-description {
  margin-bottom: 64px;
}
