@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  min-width: 1280px;
  margin: 0 auto;
  height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #f2f2f2;
  color: #000000;
}

.container {
  margin: 0 auto;
  width: 1200px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.button {
  display: inline-block;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  background-color: #82b3d3;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.nav-link {
  display: block;
  padding: 20px 16px;
  color: inherit;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
}

.hero {
  padding-top: 51px;
  padding-bottom: 82px;
  background-image: url("../images/main/decor-main.svg"), url("../images/main/index-background.jpg");
  color: #000000;
  background-color: #3f5f72;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.main-title,
.footer-mailing-title,
.results {
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: 700;
}

.main-description,
.footer-mailing-description,
.footer-mailing-catalog.footer-mailing .footer-mailing-description {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 26px;
  font-weight: 400;
  font-size: 22px;
  text-align: center;
  color: #333333;
}

.footer-mailing-catalog.footer-mailing .footer-mailing-description {
  margin-bottom: 54px;
}

.footer-mailing-catalog.footer-mailing .footer-mailing-title {
  color: #000000;
}

.advantages-big-item .advantages-item-title,
.advantages-big-item .advantages-item-description,
.footer-mailing-description,
.footer-mailing-title {
  color: #ffffff;
}

.advantages-list li:nth-child(2n),
.services-list li:nth-child(2n+1) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-list li:nth-child(2n+1) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-title,
.services-item-title,
.hotel-card-title {
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 28px;
  text-align: center;
  margin: 0;
}

.services-item-title {
  margin-bottom: 30px;
}

.advantages-item-title {
  position: relative;
  margin-bottom: 62px;
}

.advantages-item-title::after {
  position: absolute;
  content: "";
  left: 50%;
  margin-left: -30px;
  bottom: -30px;
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
}

.advantages-item-wrapper > .advantages-item-title::after {
  position: absolute;
  content: "";
  left: 50%;
  margin-left: -30px;
  bottom: -30px;
  width: 60px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
}

.advantages-item-description,
.services-item-description {
  color: #333333;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  margin: 0;
}

.footer-mailing {
  padding-top: 96px;
  padding-bottom: 104px;
  background-image: url("../images/main/subscribe-background.jpg");
  background-repeat: no-repeat;
  background-color: #3f5e72;
  background-size: cover;
}

.email {
  flex-grow: 2;
  border-radius: 4px 0 0 4px;
  padding: 12px 20px;
  border: none;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
}


.email.catalog-email {
  background-color: #f2f2f2;
}

.phone-wrapper {
  max-width: 710px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 5px;
}

.phone-number {
  margin: 0 5px;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  text-decoration: none;
  color: #000000;
  white-space: nowrap;
}

.user-link.button,
.search-hotel-button,
.more-details.button {
  background-color: #756157;
}

.more-details.button,
.button-to-like {
  padding: 8px;
  border-radius: 4px;
}

.button-liked,
.button-to-like {
  border-style: none;
}

.search-hotel-button,
.footer-mailing button.button {
  font-size: 20px;
  line-height: 36px;
}

.button-liked {
  background-color: #7db54f;
  border-radius: 4px;
  padding: 8px;
}

.pagination {
  max-width: 1060px;
  margin: 80px 0 0 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.pagination-link {
  display: block;
  min-width: 60px;
  height: 60px;
  text-align: center;
  padding: 12px;
  box-sizing: border-box;
  border-radius: 4px;
  text-decoration: none;
  color: #ffffff;
  background-color: #82b3d3;
  border: 1px solid #82b3d3;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-item {
  margin-bottom: 8px;
}

.footer-mailing-catalog.footer-mailing {
  background-color: #ffffff;
  background-image: none;
}

.active-link {
  color: #000000;
  background-color: #f2f2f2;
  border: none;
}

.pagination-item:nth-child(5) .pagination-link {
  background-color: #ffffff;
  color: #000000;
  border: none;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.type-of-housing,
.hotel-card-pricing {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  margin: 0;
}

.hotel-card-pricing {
  text-align: end;
}

.rating {
  display: inline-block;
  padding: 8px 22px;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #333333;
  border-radius: 4px;
  background-color: #f2f2f2;
}

.hotel-card-title {
  text-transform: none;
  text-align: start;
}

.hotel-card-link {
  grid-column: 1 / -1;
  text-decoration: none;
}

.hotel-card-image {
  display: block;
  margin-bottom: 16px;
}

.catalog-result-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 32px;
}

.hotel-list::after {
  content: "";
  position: absolute;
  background-color: #e6e6e6;
  left: 0;
  right: 0;
  height: 1px;
  bottom: -40px;
}

.results {
  width: 338px;
  margin: 0;
  padding: 6px 0;
}

.card-position-list {
  display: flex;
  flex-wrap: wrap;
  width: 160px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.button-view {
  position: relative;
  display: block;
  box-sizing: border-box;
  min-width: 48px;
  min-height: 48px;
  padding: 17px 16px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.button-view-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

.card-position-item:not(.card-position-item:nth-child(3n)) {
  margin-right: 8px;
}

.card-position-item {
  margin-bottom: 8px;
  position: relative;
}

.card-position-item::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 14px;
  top: 17px;
  right: 16px;
  background-image: url("../images/catalog/view-icon-small.svg");
}

.card-position-item:nth-child(2n)::after {
  background-image: url("../images/catalog/view-icon-big.svg");
}

.card-position-item:nth-child(3n)::after {
  background-image: url("../images/catalog/view-icon-list.svg");
}

.button--view-active {
  border-color: #000000;
}

.select-control {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  margin: 0 70px 0 auto;
  padding-left: 16px;
  padding-right: 35px;
  box-sizing: border-box;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  width: 292px;
  height: 49px;
  -webkit-appearance: none;
  appearance: none;
  background-image: url("../images/catalog/select.svg");
  background-repeat: no-repeat;
  background-position: right 20px center;
  background-color: #ffffff;
}

.select-control:focus,
.select-control:hover {
  border-color: #68a2ca;
}

.select-control:focus:not(:focus-visible) {
  border-color: #3f5e72;
}

.select-control:focus-visible {
  outline: none;
  border-color: #68a2ca;
}

.select-control:disabled {
  border-color: rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.3);
  background-image: url("../images/catalog/select-disabled.png");
}

.catalog-hero {
  padding-top: 35px;
  padding-bottom: 73px;
  background-color: #3f5e72;
  color: #ffffff;
  background-image: url("../images/catalog/catalog-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 1200px;
  margin: 0 auto;
}

.catalog-filter-title {
  margin-bottom: 32px;
  padding: 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.catalog-filter {
  display: flex;
  justify-content: space-between;
}

.catalog-result {
  position: relative;
  padding-bottom: 52px;
  padding-top: 50px;
}

.control {
  font-size: 18px;
  line-height: 23px;
}

.control:hover {
  opacity: 60%;
}

.control:active {
  opacity: 30%;
}

.control-input:focus + .control-mark {
  outline: 3px solid #83b3d3;
}

.control-input:focus:not(:focus-visible) + .control-mark {
  outline: none;
}

.control-input:focus-visible + .control-mark {
  outline: 3px solid #83b3d3;
}

.catalog-title {
  margin: 0 0 8px 0;
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
}

.button.button-to-reset {
  background-color: transparent;
  width: 191px;
  padding: 8px 15px;
  border-radius: 4px;
}

.button-to-reset:hover {
  color: rgba(255, 255, 255, 0.6);
}

.button-to-reset:focus {
  color: #ffffff;
  outline: 3px solid #83b3d3;
}

.button-to-reset:focus:not(:focus-visible) {
  outline: none;
}

.button-to-reset:focus-visible {
  color: #ffffff;
  outline: 3px solid #83b3d3;
}

.button-to-reset:active {
  color: rgba(255, 255, 255, 0.3);
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 0 40px 0;
  padding: 0;
}

.breadcrumbs-link {
  display: block;
  color: inherit;
  font-size: 16px;
  line-height: 21px;
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-item {
  position: relative;
  margin-right: 28px;
}

.breadcrumbs-item:not(:last-child)::after {
  content: "";
  background-image: url("../images/catalog/arrow-breadcrumbs.svg");
  background-repeat: no-repeat;
  position: absolute;
  width: 8px;
  top: 6px;
  height: 20px;
  right: -20px;
}

.main-container {
  flex-grow: 1;
}

.page-header {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  width: 450px;
  margin: 0;
  padding: 0;
}

.welcome {
  display: block;
  margin: 0 auto;
}

.user-list {
  display: flex;
  list-style: none;
  max-width: 315px;
  margin-left: auto;
  justify-content: flex-end;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.advantages-item:not(.advantages-big-item) {
  width: 400px;
  min-height: 385px;
  padding: 113px 84px;
  box-sizing: border-box;
}

.advantages-big-item {
  width: 1200px;
  min-height: 385px;
  display: flex;
}

.advantages-item-img {
  min-width: 800px;
  height: 100%;
  object-fit: cover;
}

.advantages-item-wrapper {
  width: 230px;
  background-color: #82b3d3;
  padding: 102px 85px;
}

.services-list {
  display: flex;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  list-style: none;
}

.services-item {
  width: 400px;
  min-height: 385px;
  padding: 183px 85px 80px;
  box-sizing: border-box;
  background-image: url("../images/main/advantage-icon-food.svg");
  background-repeat: no-repeat;
  background-size: 75px 72px;
  background-position: center 81px;
}

.services-item:first-child {
  background-image: url("../images/main/advantage-icon-house.svg");
}

.services-item:last-child {
  background-image: url("../images/main/advantage-icon-gift.svg");
}

.footer-social {
  padding-top: 45px;
  padding-bottom: 35px;
  display: flex;
  flex-wrap: wrap;
  max-width: 1060px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  min-width: 142px;
  margin: 0 10px 0 0;
  padding: 0;
}

.main-wrapper {
  width: 1060px;
  margin: 0 auto;
}

.hotel-list {
  position: relative;
  margin: 0;
  padding: 0;
  gap: 20px;
  display: grid;
  list-style: none;
  grid-template-columns: repeat(3, 340px);
}

.hotel-card {
  display: grid;
  row-gap: 16px;
  column-gap: 20px;
  grid-template-columns: 140px 140px;
  padding: 20px;
  border-radius: 4px;
  border: 1px solid #e6e6e6;
}

.stars {
  position: relative;
  margin: 0;
}

.stars::after {
  position: absolute;
  content: "";
  width: 90px;
  height: 17px;
  left: 0;
  top: 10px;
  background-image: url("../images/catalog/star.svg");
  background-repeat: repeat-x;
}

.hotel-card:nth-child(3) .stars::after {
  width: 72px;
}

.hotel-card:last-child .stars::after {
  width: 48px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.nav {
  display: flex;
}

.user-link {
  position: relative;
  display: block;
  min-width: 18px;
  min-height: 18px;
  padding: 22px 12px;
}

.user-item:last-child {
  margin-top: 14px;
}

.user-link.button {
  display: block;
  width: 160px;
  box-sizing: border-box;
  margin-left: 20px;
  padding: 8px 15px;
  border-radius: 4px;
}

.advantages > .main-wrapper {
  padding-top: 69px;
  padding-bottom: 90px;
}

.advantages .main-title {
  margin-bottom: 25px;
}

.search-hotel {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 96px;
  padding-bottom: 96px;
}

.search-hotel-button.button {
  padding: 8px 20px;
  width: 376px;
  border-radius: 4px;
}

.footer-social-item-link {
  position: relative;
  display: block;
  min-width: 27px;
  min-height: 40px;
  padding: 0 10px;
}

.social-icon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  fill: #82b3d3;
}

.footer-mailing .button {
  padding: 8px 20px;
  width: 232px;
  border: none;
  border-radius: 0 4px 4px 0;
}

.footer-mailing form {
  display: flex;
  margin: 0 auto;
  width: 684px;
}

.services > .main-wrapper {
  padding-bottom: 64px;
  padding-top: 64px;
}

.footer-mailing .footer-mailing-description,
.search-hotel .main-description {
  margin-bottom: 54px;
}

.nav-logo {
  margin-right: 30px;
  display: block;
  height: 70px;
  position: relative;
}

.nav-logo:hover {
  opacity: 80%;
}

.nav-logo:active {
  opacity: 60%;
}

.main-index {
  margin-top: -6px;
}

.user-link-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000;
}

.catalog {
  margin-top: -6px;
}

.amount-liked {
  position: absolute;
  top: 11px;
  right: 4px;
  min-width: 20px;
  height: 20px;
  background-color: #7db54f;
  border-radius: 50%;
  color: #ffffff;
  font-family: "PT Sans", sans-serif;
  font-size: 10px;
  text-align: center;
}

.active-page {
  position: relative;
}

.active-page::after {
  content: "";
  background-color: #756257;
  position: absolute;
  bottom: 5px;
  left: 16px;
  right: 16px;
  height: 2px;
}

.user-link.button:hover,
.search-hotel-button.button:hover,
.more-details.button:hover,
.user-link.button:focus,
.search-hotel-button.button:focus,
.more-details.button:focus {
  background-color: #615048;
}

.user-link.button:active,
.search-hotel-button.button:active,
.more-details.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #756157;
}

.footer-mailing button.button:hover,
.footer-mailing button.button:focus,
.button-to-like:hover,
.button-to-like:focus,
.button-to-apply:hover,
.button-to-apply:focus,
.modal-search-form-button:hover,
.modal-search-form-button:focus {
  background-color: #68a2ca;
}

.pagination-link:not(.active-link):not(.pagination-no-active):hover,
.pagination-link:not(.active-link):not(.pagination-no-active):focus {
  border: 1px solid #82b3d3;
  background-color: #68a2ca;
}

.modal-search-form-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #68a2ca;
}

.footer-mailing button.button:active,
.button-to-like:active,
.button-to-apply:active,
.pagination-link:not(.active-link):not(.pagination-no-active):active {
  color: rgba(255, 255, 255, 0.3);
  border: none;
  background-color: #82b3d3;
}

.footer-social-item-link:hover .social-icon,
.footer-social-item-link:focus .social-icon {
  fill: #68a2ca;
}

.footer-social-item-link:active .social-icon {
  fill: rgba(104, 162, 202, 0.3);
}

.button-liked:hover,
.button-liked:focus {
  background-color: #6c9e42;
}

.button-liked:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #7db54f;
}

.button:disabled {
  pointer-events: none;
  color: #ffffff;
  background-color: #e5e5e5;
}

.button-to-reset:disabled {
  color: rgba(255, 255, 255, 0.1);
  background: transparent;
}

.logo-htmlacademy {
  fill: #000000;
}

.link-logo-htmlacademy {
  margin-left: 10px;
}

.link-logo-htmlacademy:hover .logo-htmlacademy,
.link-logo-htmlacademy:focus .logo-htmlacademy,
.user-link:hover .user-link-icon,
.user-link:focus .user-link-icon {
  fill: #756157;
}

.phone-number:hover,
.phone-number:focus,
.nav-link:hover,
.nav-link:focus {
  color: #756157;
}

.link-logo-htmlacademy:active .logo-htmlacademy,
.user-link:active .user-link-icon {
  fill: rgba(117, 97, 87, 0.3);
}

.phone-number:active,
.nav-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.button-view:hover {
  border-color: #000000;
}

.button-view:focus {
  outline: none;
  border-color: #68a2ca;
}

.button-view:active {
  border-color: #000000;
}

.catalog-filter-wrapper {
  display: flex;
  justify-content: space-between;
}

.catalog-filter-wrapper:first-child {
  margin-right: 20px;
}

.catalog-filter-wrapper:last-child {
  min-width: 549px;
  max-width: 600px;
}

.catalog-filter-buttons {
  display: flex;
  width: 191px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.catalog-filter-group {
  border: none;
  padding: 0;
  margin: 0;
}

.catalog-filter-group:first-child {
  margin-right: 70px;
}

.range-scale {
  position: relative;
  margin-top: 44px;
  width: 287px;
  background-color: rgba(255, 255, 255, 0.3);
  height: 4px;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  border: none;
  padding: 0;
  cursor: pointer;
  background-color: inherit;
}

.range-toggle:hover {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}

.range-toggle:focus {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  outline: 3px solid #83b3d3;
}

.range-toggle:focus:not(:focus-visible) {
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.4);
  outline: 2px solid #83b3d3;
}

.range-toggle:focus-visible {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  outline: 3px solid #83b3d3;
}

.toggle-min {
  left: 0;
  top: -8px;
}

.toggle-max {
  right: 0;
  top: -8px;
}

.range-wrapper-inputs {
  display: flex;
  justify-content: space-between;
  width: 288px;
}

.range-wrapper-min,
.range-wrapper-max {
  position: relative;
  width: 143px;
}

.range-filter-label > span {
  position: absolute;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  top: 12px;
  right: 20px;
  color: rgba(0, 0, 0, 0.3);
}

.range-input {
  height: 48px;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  padding: 12px 40px 12px 20px;
  width: 143px;
  box-sizing: border-box;
  border-radius: 0 4px 4px 0;
  border: none;
  -webkit-appearance: none;
  appearance: none;
}

.range-input:hover,
.modal-search-form-input:hover {
  background-color: #e6e6e6;
}

.range-input:focus {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.range-input:not(:placeholder-shown):focus {
  outline: 2px solid #000000;
  background-color: #f2f2f2;
}

.range-wrapper-min .range-input {
  border-radius: 4px 0 0 4px;
}

.range-input::-webkit-inner-spin-button,
.range-input::-webkit-outer-spin-button,
.modal-search-form-input::-webkit-outer-spin-button,
.modal-search-form-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.range-input,
.modal-search-form-input {
  -webkit-appearance: textfield;
  appearance: textfield;
}

.button-to-apply {
  width: 191px;
  padding: 8px 15px;
  margin-bottom: 32px;
  border-radius: 4px;
}

.catalog-filter-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.control-mark {
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background-color: #ffffff;
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark {
  background-color: transparent;
  border: 5px solid #ffffff;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

.control-input[type="checkbox"]:checked + .control-mark {
  background-image: url("../images/catalog/check.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 16px;
}

.catalog-filter-item {
  position: relative;
  padding-left: 36px;
}

.modal-container {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
  top: 0;
  left: 0;
}

.modal-container-closed {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  background-color: #ffffff;
  border-radius: 30px;
  padding: 60px 70px;
  box-sizing: border-box;
}

.modal-search {
  width: 717px;
}

.close-modal {
  position: absolute;
  background-color: #f2f2f2;
  border: none;
  border-radius: 50%;
  width: 52px;
  height: 52px;
  right: 52px;
  padding: 19px;
  cursor: pointer;
}

.close-modal:hover {
  background-color: #e6e6e6;
}

.close-modal:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #e6e6e6;
}

.close-modal:focus {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.close-modal:focus:not(:focus-visible) {
  outline: none;
}

.close-modal:focus-visible {
  outline: 3px solid #83b3d3;
}

.modal-content .main-title {
  margin-bottom: 64px;
  padding-right: 60px;
  text-align: start;
}

.modal-container-close {
  display: none;
}

.modal-search-form-input {
  position: relative;
  background-color: #f2f2f2;
  color: #000000;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  font-family: "PT Sans", sans-serif;
  border: none;
  border-radius: 4px;
  padding: 12px 45px 12px 20px;
  grid-column: 2 / 6;
}

.modal-search-form-label::after {
  content: "";
  position: absolute;
  right: 22px;
  top: 50%;
  margin-top: -7px;
  width: 16px;
  height: 15px;
  background-image: url("../images/modal/calendar.svg");
}

.modal-search-form {
  display: grid;
  grid-template-rows: repeat(5, min-content);
}

.modal-search-form-label {
  margin-bottom: 4px;
  position: relative;
  display: grid;
  grid-template-columns: 137px 110px 88px 131px 111px;
  grid-column: 1 / -1;
}

.modal-search-form-input::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.modal-search-form-input:placeholder-shown:focus {
  outline: 3px solid #83b3d3;
}

.modal-search-form-input:focus {
  outline: 2px solid #000000;
}

.search-form-title {
  position: relative;
  align-items: center;
  color: #000000;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.amount-wrapper {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
}

.amount-adult,
.amount-kids {
  max-width: 137px;
}

.little-form-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.adults-wrapper {
  min-width: 247px;
}

.kids-wrapper {
  min-width: 242px;
}

.buttons-wrapper {
  display: flex;
  width: 110px;
}

.modal-search-form-input.amount {
  padding: 14px 10px;
  width: 31px;
  height: 48px;
  background-color: #f2f2f2;
  border-radius: 0;
  box-sizing: border-box;
  line-height: 20px;
  text-align: center;
}

.button-amount {
  width: 40px;
  height: 48px;
  background-color: #f2f2f2;
  border-radius: 4px 0 0 4px;
  border: none;
  cursor: pointer;
  position: relative;
  padding: 23px 13px;
}

.minus-icon,
.plus-icon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  color: rgba(117, 97, 87, 0.3);
}

.minus-icon {
  padding: 9px 3px;
}

.plus-icon {
  padding: 3px 3px;
}

.button-amount.kids-more,
.button-amount.adult-more {
  border-radius: 0 4px 4px 0;
}

.button-amount:hover .plus-icon,
.button-amount:hover .minus-icon {
  color: #000000;
}


.button-amount:focus .plus-icon,
.button-amount:focus .minus-icon {
  color: #000000;
  outline: 3px solid #83b3d3;
}

.button-amount:focus:not(:focus-visible) .plus-icon,
.button-amount:focus:not(:focus-visible) .minus-icon {
  outline: none;
}

.button-amount:focus-visible .plus-icon,
.button-amount:focus-visible .minus-icon {
  color: #000000;
  outline: 3px solid #83b3d3;
}

.button-amount:active .plus-icon,
.button-amount:active .minus-icon {
  color: rgba(117, 97, 87, 0.3);
}

.modal-search-form-correct,
.modal-search-form-wrong {
  grid-column: 1 / -1;
  margin: 0 0 4px 0;
  min-height: 40px;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
  padding-left: 157px;
}

.modal-search-form-wrong {
  color: #ff5757;
}

.modal-search-form-button {
  border-radius: 10px;
  min-height: 60px;
  margin-bottom: 4px;
}

.tooltip-toggle {
  padding: 0;
  display: block;
  border: none;
  background-color: transparent;
}

.tooltip-icon {
  width: 100%;
  height: 100%;
  display: block;
  color: #83b3d3;
}

.tooltip-toggle:hover .tooltip-icon {
  color: #68a2ca;
}

.tooltip-text {
  position: absolute;
  box-sizing: border-box;
  margin-top: 15px;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  font-family: "PT Sans", sans-serif;
  background-color: #333333;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 20px 18px 18px 22px;
  width: 256px;
  min-height: 143px;
  transform: translateX(-50%);
  left: 50%;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  opacity: 1;
  visibility: visible;
}

.tooltip-text::before {
  content: "";
  position: absolute;
  top: -9px;
  left: 50%;
  transform: translateX(-50%);
  border-bottom: 19px solid #333333;
  border-left: 19px solid transparent;
  border-right: 19px solid transparent;
}

.tooltip {
  position: absolute;
  width: 26px;
  height: 26px;
  margin-left: 60px;
}
