@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #f2f2f2;
  color: #000000;
}

.container {
  margin: 0 auto;
  width: 1200px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.button {
  display: inline-block;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  background-color: #82b3d3;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.nav-link {
  display: block;
  padding: 20px 16px;
  color: inherit;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
}

.hero {
  padding-top: 51px;
  padding-bottom: 82px;
  background-image: url("../images/main/decor-main.svg"), url("../images/main/index-background.jpg");
  color: #000000;
  background-color: #3f5f72;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.main-title,
.footer-mailing-title,
.results {
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: 700;
}

.main-description,
.footer-mailing-description,
.footer-mailing-catalog.footer-mailing .footer-mailing-description {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 26px;
  font-weight: 400;
  font-size: 22px;
  text-align: center;
  color: #333333;
}

.footer-mailing-catalog.footer-mailing .footer-mailing-description {
  margin-bottom: 54px;
}

.footer-mailing-catalog.footer-mailing .footer-mailing-title {
  color: #000000;
}

.advantages-big-item .advantages-item-title,
.advantages-big-item .advantages-item-description,
.footer-mailing-description,
.footer-mailing-title {
  color: #ffffff;
}

.advantages-list li:nth-child(2),
.advantages-list li:nth-child(4),
.services-list li:nth-child(2n+1) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-list li:nth-child(3) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-title,
.services-item-title,
.hotel-card-title {
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 28px;
  text-align: center;
  margin: 0;
}

.services-item-title {
  margin-bottom: 30px;
}

.advantages-item-title {
  position: relative;
  margin-bottom: 62px;
}

.advantages-item-title::after {
  position: absolute;
  content: "";
  left: 50%;
  margin-left: -30px;
  top: 86px;
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
}

.advantages-item-wrapper > .advantages-item-title::after {
  position: absolute;
  content: "";
  left: 50%;
  margin-left: -30px;
  top: 86px;
  width: 60px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
}

.advantages-item-description,
.services-item-description {
  color: #333333;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  margin: 0;
}

.footer-mailing {
  padding-top: 96px;
  padding-bottom: 104px;
  background-image: url("../images/main/subscribe-background.jpg");
  background-repeat: no-repeat;
  background-color: #3f5e72;
}

.email {
  flex-grow: 2;
  border-radius: 4px 0 0 4px;
  padding: 12px 20px;
  border: none;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
}


.email.catalog-email {
  background-color: #f2f2f2;
}

.phone-number {
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  text-decoration: none;
  color: #000000;
}

.user-link.button,
.search-hotel-button,
.more-details.button {
  background-color: #756157;
}

.more-details.button,
.button-to-like {
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 4px;
}

.button-liked,
.button-to-like {
  border-style: none;
}

.search-hotel-button,
.footer-mailing button.button {
  font-size: 20px;
  line-height: 36px;
}

.button-liked {
  background-color: #7db54f;
  border-radius: 4px;
}

.pagination {
  margin: 80px 0 0 0;
  display: flex;
  list-style: none;
  padding: 0;
}

.pagination-link {
  display: block;
  min-width: 60px;
  height: 60px;
  text-align: center;
  padding-bottom: 12px;
  padding-top: 12px;
  box-sizing: border-box;
  border-radius: 4px;
  text-decoration: none;
  color: #ffffff;
  background-color: #82b3d3;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.footer-mailing-catalog.footer-mailing {
  background-color: #ffffff;
  background-image: none;
}

.active-link {
  color: #000000;
  background-color: #f2f2f2;
}

li:nth-child(5) .pagination-link {
  background-color: #ffffff;
  color: #000000;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.type-of-housing,
.hotel-card-pricing {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  margin: 0;
}

.hotel-card-pricing {
  text-align: end;
}

.rating {
  display: inline-block;
  padding: 8px 22px;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #333333;
  border-radius: 4px;
  background-color: #f2f2f2;
  grid-column: 2 / 3;
  grid-row: 4 / 5;
}

.hotel-card-title {
  text-transform: none;
  text-align: start;
}

.hotel-card-link {
  grid-column: 1 / -1;
  text-decoration: none;
}

.hotel-card-image {
  display: block;
  margin-bottom: 16px;
}

.catalog-result-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.catalog-result-wrapper::after {
  content: "";
  position: absolute;
  background-color: rgba(230, 230, 230, 1);
  width: 1060px;
  height: 1px;
  bottom: 160px;
}

.results {
  text-align: start;
  margin: 0;
  padding: 0;
}

.card-position-list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.button-view {
  position: relative;
  display: block;
  box-sizing: border-box;
  min-width: 48px;
  min-height: 48px;
  padding: 17px 16px;
  border: 2px solid rgba(229, 229, 229, 1);
  border-radius: 4px;
}

.button-view-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

.card-position-item:not(.card-position-item:last-child) {
  margin-right: 8px;
}

.button--view-active {
  border-color: rgba(0, 0, 0, 1);
}

.select-control {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  margin: 0 70px 0 auto;
}

.catalog-hero {
  padding-top: 35px;
  padding-bottom: 70px;
  background-color: #3f5e72;
  color: #ffffff;
  background-image: url("../images/catalog/catalog-hero.jpg");
  background-repeat: no-repeat;
  width: 1200px;
  margin: 0 auto;
}

.catalog-filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.catalog-filter {
  display: flex;
}

.catalog-result {
  position: relative;
  padding-bottom: 60px;
  padding-top: 50px;
}

.control {
  font-size: 18px;
  line-height: 23px;
}

.catalog-title {
  margin: 0;
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
}

.button.button-to-reset {
  background-color: transparent;
}

.breadcrumbs {
  display: flex;
  list-style: none;
  margin: 0 0 40px 0;
  padding: 0;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
}

.main-container {
  flex-grow: 1;
}

.page-header {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  width: 450px;
  margin: 0;
  padding: 0;
}

.welcome {
  display: block;
  margin: 0 auto;
}

.user-list {
  display: flex;
  list-style: none;
  max-width: 315px;
  margin-left: auto;
  justify-content: flex-end;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.advantages-item:not(.advantages-big-item) {
  width: 400px;
  min-height: 385px;
  padding: 113px 85px;
  box-sizing: border-box;
}

.advantages-big-item {
  width: 1200px;
  min-height: 385px;
  display: flex;
}

.advantages-item-img {
  min-width: 800px;
  height: 100%;
  object-fit: cover;
}

.advantages-item-wrapper {
  width: 230px;
  background-color: #82b3d3;
  padding: 102px 85px;
}

.services-list {
  display: flex;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  list-style: none;
}

.services-item {
  width: 400px;
  min-height: 385px;
  padding: 183px 85px 80px;
  box-sizing: border-box;
  background-image: url("../images/main/advantage-icon-food.svg");
  background-repeat: no-repeat;
  background-size: 75px 72px;
  background-position: center 81px;
}

.services-item:first-child {
  background-image: url("../images/main/advantage-icon-house.svg");
}

.services-item:last-child {
  background-image: url("../images/main/advantage-icon-gift.svg");
}

.footer-social {
  padding-top: 45px;
  padding-bottom: 35px;
  display: flex;
  width: 1060px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.footer-social-list {
  display: flex;
  list-style: none;
  min-width: 141px;
  margin: 0;
  padding: 0;
}

.main-wrapper {
  width: 1060px;
  margin: 0 auto;
}

.hotel-list {
  margin: 0;
  padding: 0;
  gap: 20px;
  display: grid;
  list-style: none;
  grid-template-columns: repeat(3, 340px);
}

.hotel-card {
  position: relative;
  display: grid;
  row-gap: 16px;
  column-gap: 20px;
  grid-template-columns: 140px 140px;
  padding: 20px;
  border-radius: 4px;
  border: 1px solid #e6e6e6;
}

.hotel-card::after {
  position: absolute;
  content: "";
  width: 90px;
  height: 17px;
  bottom: 30px;
  left: 20px;
  background-image: url("../images/catalog/star.svg");
  background-repeat: repeat-x;
}

.hotel-card:nth-child(3)::after {
  width: 72px;
}

.hotel-card:last-child::after {
  width: 48px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.nav {
  display: flex;
}

.user-link {
  position: relative;
  display: block;
  min-width: 18px;
  min-height: 18px;
  padding: 22px 12px;
}

.user-item:last-child {
  margin-top: 14px;
}

.user-link.button {
  display: block;
  margin-left: 20px;
  padding: 8px 34px;
  border-radius: 4px;
}

.advantages > .main-wrapper {
  padding-top: 69px;
  padding-bottom: 90px;
}

.advantages .main-title {
  margin-bottom: 25px;
}

.search-hotel {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 96px;
  padding-bottom: 96px;
}

.search-hotel-button.button {
  padding: 8px 50px;
  border-radius: 4px;
}

.footer-social-item-link {
  position: relative;
  display: block;
  min-width: 27px;
  min-height: 40px;
  padding: 0 10px;
}

.social-icon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  fill: rgba(130, 179, 211, 1);
}

.footer-mailing .button {
  padding: 8px 50px;
  border: none;
  border-radius: 0 4px 4px 0;
}

.footer-mailing form {
  display: flex;
  margin: 0 auto;
  width: 684px;
}

.services > .main-wrapper {
  padding-bottom: 64px;
  padding-top: 64px;
}

.footer-mailing .footer-mailing-description,
.search-hotel .main-description {
  margin-bottom: 54px;
}

.nav-logo {
  margin-right: 30px;
  display: block;
  height: 70px;
  position: relative;
}

.main-index {
  margin-top: -6px;
}

.user-link-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: rgba(0, 0, 0, 1);
}

.catalog {
  margin-top: -6px;
}

.amount-liked {
  position: absolute;
  top: 11px;
  right: 4px;
  min-width: 20px;
  height: 20px;
  background-color: #7db54f;
  border-radius: 50%;
  color: #ffffff;
  font-family: "PT Sans", sans-serif;
  font-size: 10px;
  text-align: center;
}

.active-page {
  position: relative;
}

.active-page::after {
  content: "";
  background-color: rgba(117, 98, 87, 1);
  position: absolute;
  bottom: 5px;
  left: 16px;
  right: 16px;
  height: 2px;
}

.user-link.button:hover,
.search-hotel-button.button:hover,
.more-details.button:hover,
.user-link.button:focus,
.search-hotel-button.button:focus,
.more-details.button:focus {
  background-color: rgba(97, 80, 72, 1);
  outline: none;
}

.user-link.button:active,
.search-hotel-button.button:active,
.more-details.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: rgba(117, 97, 87, 1);
}

.footer-mailing button.button:hover,
.button-to-like:hover,
.footer-mailing button.button:focus,
.button-to-like:focus {
  background-color: rgba(104, 162, 202, 1);
  outline: none;
}

.pagination-link:not(.active-link):not(.pagination-no-active):hover,
.pagination-link:not(.active-link):not(.pagination-no-active):focus {
  border: 1px solid rgba(130, 179, 211, 1);
  background-color: rgba(104, 162, 202, 1);
}

.footer-mailing button.button:active,
.button-to-like:active,
.pagination-link:not(.active-link):not(.pagination-no-active):active {
  color: rgba(255, 255, 255, 0.3);
  border: none;
  background-color: rgba(130, 179, 211, 1);
}

.pagination-link:focus,
.footer-social-item-link:hover,
.footer-social-item-link:focus,
.link-logo-htmlacademy:focus .logo-htmlacademy,
.phone-number:focus {
  outline: none;
}

.footer-social-item-link:hover .social-icon,
.footer-social-item-link:focus .social-icon {
  fill: rgba(104, 162, 202, 1);
  outline: none;
}

.footer-social-item-link:active .social-icon {
  fill: rgba(104, 162, 202, 0.3);
}

.button-liked:hover,
.button-liked:focus {
  background-color: rgba(108, 158, 66, 1);
  outline: none;
}

.button-liked:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: rgba(125, 181, 79, 1);
}

.logo-htmlacademy {
  fill: rgba(0, 0, 0, 1);
}

.link-logo-htmlacademy:hover .logo-htmlacademy,
.link-logo-htmlacademy:focus .logo-htmlacademy,
.user-link:hover .user-link-icon,
.user-link:focus .user-link-icon {
  fill: rgba(117, 97, 87, 1);
}

.phone-number:hover,
.phone-number:focus,
.nav-link:hover,
.nav-link:focus {
  color: rgba(117, 97, 87, 1);
}

.link-logo-htmlacademy:active .logo-htmlacademy,
.user-link:active .user-link-icon {
  fill: rgba(117, 97, 87, 0.3);
}

.phone-number:active,
.nav-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.button-view:hover {
  border-color: rgba(0, 0, 0, 1);
}

.button-view:focus {
  border-color: rgba(104, 162, 202, 1);
  outline: none;
}

.button-view:active {
  border-color: rgba(0, 0, 0, 1);
}
